@tailwind base;

@layer base {
	h1 {
		@apply font-bebas;
	}
	h2 {
		@apply font-bebas;
	}
	h3 {
		@apply font-bebas;
	}
	a {
		@apply text-blue-600 underline;
	}
}

@tailwind components;
@tailwind utilities;

html,
body {
	padding: 0;
	margin: 0;
	/* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
	font-family: "Changa";
	background-color: #0c161e;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
	body {
		color: white;
		background: #0c161e;
	}
}
